In [1]:
import pandas as pd
dt=pd.read_csv('fakerealnews.csv')
dt.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [2]:
dt.rename({'Unnamed: 0':'a'},axis='columns',inplace=True)

In [3]:
dt.drop(['a'],axis=1,inplace=True)
dt.head()

,title,text,label
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [4]:
dt.groupby('label').describe()

      title                                             text         \
      count unique                            top freq count unique
label
FAKE   3164   3107    Michael Moore Owes Me $4.99    3  3164   3071
REAL   3171   3149  OnPolitics | 's politics blog    5  3171   2989


                                                     top freq
label
FAKE                                                       36
REAL   Killing Obama administration rules, dismantlin...   58

In [5]:
dt['FAKE']=dt['label'].apply(lambda x:1 if x=='FAKE' else 0)
dt.head()

,title,text,label,FAKE
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE,1
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE,1
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL,0
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE,1
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL,0

In [6]:
lb=dt.drop('label',axis=1)
finalr=dt.label

In [7]:
finalr.head()

0    FAKE
1    FAKE
2    REAL
3    FAKE
4    REAL
Name: label, dtype: object

In [8]:
#dmmy=pd.get_dummies(dt.label)
#dmmy.head()

In [9]:
#addd=pd.concat([lb,dmmy],axis=1)
#addd.head()

In [10]:
#dt.columns[dt.isna().any()]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(dt.text,dt.FAKE,test_size=0.30)

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
x_train_count=v.fit_transform(x_train.values)
x_train_count.toarray()[:3]

array([[0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0]], dtype=int64)

In [13]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [14]:
news=['Four ways Bob Corker skewered Donald Trump',
     'JetNation FanDuel League; Week 4',
     'Weinstein Co board ousts Harvey Weinstein after harassment allegations',
     'EPA chief to sign rule on Clean Power Plan exit on Tuesday',
     'November 13, 2016 By 21wire Leave a Comment ',
     'Ex-Assistant FBI Director: Clintons Are a Crime Family',
     'Remy Porter Remy escaped the enterprise world and now works as a consultant.']
news_count=v.transform(news)
model.predict(news_count)

array([0, 0, 0, 0, 1, 1, 1], dtype=int64)

In [15]:
x_test_count=v.transform(x_test)
model.score(x_test_count,y_test)

0.8721725407680169